@model IEnumerable<Crud.Models.Person>


@{
    ViewBag.Title = "Index";
}

<div id="tableDiv">
</div>

@section scripts{
    <script>
        LoadData("");
        $('#searchItem').on('keyup', function () {
        var searchItem = $(this).val();
        LoadData(searchItem);

        });

        $("#data").DataTable();

        function LoadData(search)
        {
            $.ajax({
                url: '@Url.Action("Search", "Details")',
                type: 'GET',
                data: { item: search },
                success: function (data) {
                    $('#tableDiv').html(data);
                },
                error: function () {
                    alert('An error occurred while fetching the data.');
                }
            });

        }

    </script>
    }