@model IEnumerable<Crud.Models.Person>


@{
    ViewBag.Title = "Index";
}

<script>
    $(function () {
        $('#searchInput').on('keyup', function () {
            var searchItem = $(this).val();

            $.ajax({
                url: '/Details/Search',
                type: 'GET',
                data: { item: searchItem },
                success: function (data) {
                    $('#tableDiv').html(data);
                },
                error: function () {
                    alert('An error occurred while fetching the data.');
                }
            });
        });
    });

</script>

<nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
    <h2>Index</h2>
    @using (Html.BeginForm("Index", "Details", FormMethod.Get))
    {
        //note:searchItem must match the parameter name
        @Html.TextBox("searchItem", "", new { @class = "form-control", type = "search", placeholder = "Search", title = "none", display = "inline-block", id = "searchInput" })
        <input type="submit" class="btn btn-secondary" value="Search" display="inline-block" />
    }
</nav>



<p>
    @Html.ActionLink("Create New", "Create", "", new {@class = "btn btn-warning mb-5 mt-1"})
</p>
<div id="tableDiv">
    @Html.Partial("_PersonTable", Model)
</div>
